policy_module(selinux_demo_test, 1.0.0)

########################################
#
# Declarations
#

type myapp_t;
type myapp_exec_t;
domain_type(myapp_t)
domain_entry_file(myapp_t, myapp_exec_t)

type myapp_log_t;
logging_log_file(myapp_log_t)

type myapp_tmp_t;
files_tmp_file(myapp_tmp_t)

myapp_domtrans(domain)

########################################
#
# Myapp local policy
#

allow myapp_t myapp_log_t:file { read_file_perms append_file_perms };

allow myapp_t myapp_tmp_t:file manage_file_perms;
files_tmp_filetrans(myapp_t,myapp_tmp_t,file)

gen_require(`
	class dbus send_msg;	
	role user_r;
	type user_devpts_t;
')

role user_r types myapp_t;
allow domain myapp_t:dbus send_msg;
allow myapp_t domain:dbus send_msg;

# access tty
allow myapp_t user_devpts_t:chr_file { open read write append };
